<p>
    <mat-toolbar color="primary">
        <mat-icon>collections_bookmark</mat-icon>
        <span>Livros</span>
    </mat-toolbar>
</p>
<p>
    <mat-card style="text-align: center; font-size: 20px;">
        <mat-label>Cadastrar Livro</mat-label>
    </mat-card>
    <mat-card style="text-align: center;">
        <mat-form-field class="example-full-width" appearance="fill"
            style="margin-right: 20px;">
            <mat-label>Nome do Livro</mat-label>
            <input matInput id="username" name="username" #username>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill"
            style="margin-right: 20px;">
            <mat-label>Autor</mat-label>
            <input matInput id="autor" name="autor" #autor>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill"
            style="margin-right: 20px;">
            <mat-label>Editora</mat-label>
            <input matInput id="editora" name="editora" #editora>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill"
            style="margin-right: 20px;">
            <mat-label>Preço</mat-label>
            <input matInput id="preco" name="preco" #preco>
        </mat-form-field>
        <section>
            <button mat-flat-button color="primary" (click)="clicou()">Cadastrar</button>
        </section>
    </mat-card>
    <mat-card style="text-align: center; font-size: 20px;">
        <mat-label>Listar Livros</mat-label>
    </mat-card>
    <mat-card style="text-align: center;">
        <table id="customers">
            <TR>
              <TH>ID</TH>
              <TH>Nome</TH>
              <TH>Autor</TH>
              <TH>Preço</TH>
            </TR>
            <TR *ngFor="let livro of livros">
              <TD>{{ livro.id }}</TD>
              <TD>{{ livro.nome }}</TD>
              <TD>{{ livro.autor }}</TD>
              <TD>R$: {{ livro.preco }}</TD>
            </TR>
          </table>
    </mat-card>
</p>
